.list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}
.list__item{
    flex: 0 0 calc(33.333% - 10px);
    @extend %block;
    min-height: 100px;
    align-content: center;
}

@media (max-width:768px){
    .list__item{
        flex: 0 0 calc(50% - 8px);
    }
}

@media (max-width:480px){
    .list__item{
        flex: 0 0 calc(100% - 1px);
    }
}