%block{
    background-color: rgb(218, 93, 93);
    padding: 10px 15px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
 
}